/*CSS for LIS 590 repository on GitHub.*/
/*Used ideas studies from CSS Zen Garden here: */
html {
    margin: 0;
    padding: 0;
    background-color: #FFFBD4;
    line-height: 1rem;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

main {
    margin: 0;
    padding: 0;
    line-height: normal;
    background-color: #FFFBD4;
}

main>a{
    color: #251E15;
}

.pdf:hover{
    color: #433729;
    text-decoration: underline;
}


h1 {
    font-family: 'Open Sans', sans-serif;
    align-items: center;
}

header {
    background-color: #FFFBD4;
    color: #251E15;
}

header>nav {
    background-color: #FFFBD4;
}

.nav-item{
    padding: .5rem;
}

.nav-link {
    color: #433729;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border: solid;
    border-color: #B7C68B;
}

.nav-link:hover {
    background-color: #B7C68B;
    color: #251E15;
}


.container1 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
    padding-top: 1rem;
}

footer{
    background-color: #B7C68B;
    color: #251E15;
    position: relative;
    bottom: 0%;
    right: 0%;
    left: 0%;
    padding: 1.5rem;
    margin: 0rem;
}

.iSchool{
    color: #FFFBD4;
}

.iSchool:hover{
    color: #251E15;
}