/*CSS for LIS 590 repository on GitHub.*/
/*Used ideas studies from CSS Zen Garden here: */
/*Color scheme is from: https://graphicmama.com/blog/website-color-schemes/ */
html {
    margin: 0;
    padding: 0;
    background-color: #2e3047;
    line-height: 2.0;
    font-family: 'Open Sans', sans-serif;
}

.material-icons-outlined{
    font-family: 'Material Icons';
    color: #3bba9c;
    text-align: center;
}

a {
    text-decoration: none;
    color: #3bba9c;
}

a:hover{
    color: #707793;
}

main {
    margin: 0;
    padding: 0;
    padding-top: 2rem;
    line-height: 2.0;
    background-color: #2e3047;
    color: #2e3047;
}

main>a{
    color: #3bba9c;
}

.blurb{
    color: #3bba9c;
}

.pdf:hover{
    color: #3bba9c;
    text-decoration: underline;
}

h1 {
    font-family: 'Raleway', sans-serif;
    align-items: center;
    text-shadow: 1px 1px 5px #2e3047;
    color: #3bba9c;
    letter-spacing: 5px;
    font-weight: 800;
}

header {
    background-color: #2e3047;
    color: #707793;
}

header>nav {
    background-color: #2e3047;
}

.nav{
    flex-direction: row;
    flex-basis: auto;
    flex-grow: 0;
    justify-content: center;
    border-bottom: solid .5px #3bba9c;
    align-items: stretch;
    align-content: stretch;
}

.nav-item{
    padding: .5rem;
    background-color: #43455c;
}

.navbar-brand > .nav-link:hover{
    background-color: #3bba9c;
    color: #2e3047;
}

.nav-link {
    color: #3bba9c;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border: solid;
    letter-spacing: 2px;
}

.nav-link:hover {
    background-color: #3bba9c;
    color: #2e3047;
}

.nav-pills{
    background-color: #43455c;
}

.accordion{
    padding-bottom: 1rem;
}

.accordion-links{
    -webkit-text-stroke: .5px black;
}

.container1 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
    padding-top: 1rem;
}

.accordion-button{
    background-color: #3bba9c;
    color: #2e3047;
    border-color: #707793;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
}

.accordion-body{
    background-color: #A8ACBD;
    color: black;
    font-family: 'Open sans', sans-serif;
    text-align: justify;
    padding-left: 3rem;
    padding-right: 3rem;
    line-height: 1.5;
}

.containerC{
    flex-direction: row;
    flex-basis: auto;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: stretch;
}

.item2{
    border-bottom: solid .5px #3bba9c;
}

.card{
    background-color: #707793;
    color: black;
}

.card a{
    color: black;
}

span{
    padding: none;
    margin: none;
}

img {
    max-width: 50%;
}

footer{
    background-color: #2e3047;
    color: #3bba9c;
    position: relative;
    top: 100%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    padding: 2rem;
    margin: 0rem;
}

.iSchool{
    color: #707793;
    text-shadow: #3bba9c;
}

.iSchool:hover{
    color: #3bba9c;
    text-decoration: underline;
}